
  
  /*=============== GOOGLE FONTS ===============*/
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
  
  /*=============== VARIABLES CSS ===============*/
  /*========== Responsive typography ==========*/
  @media screen and (min-width: 1024px) {
    :root {
      --normal-font-size: 1rem;
    }
  }
  
  /*=============== BASE ===============*/
  
  
  ul {
    list-style: none;
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
  }
  
  a {
    text-decoration: none;
  }
  
  /*=============== REUSABLE CSS CLASSES ===============*/
  .containerpro {
    max-width: 1120px;
    margin-inline: 1.5rem;
  }
  
  /*=============== HEADER ===============*/
  .header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    background-color: hsl(220, 24%, 12%);
    box-shadow: 0 2px 16px hsla(220, 32%, 8%, .3);
    z-index: 100;
  }
  
  /*=============== navpro ===============*/
  .navpro {
    height: 3.5rem;
  }
  
  .navpro__logopro, 
  .navpro__burger, 
  .navpro__close {
    color: #fff;
  }
  
  .navpro__datapro {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navpro__logopro {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-weight: 600;
    /* Color highlighting when pressed on mobile devices */
    /*-webkit-tap-highlight-color: transparent;*/
  }
  
  .navpro__logopro i {
    font-weight: initial;
    font-size: 1.25rem;
  }
  
  .navpro__togglepro {
      position: absolute; /* Position it relative to the navpro container */
      top: 50%; /* Vertically center it */
      right: 20px; /* Align it to the right side, adjust the value as needed */
      transform: translateY(-50%); /* Center it vertically */
      width: 32px;
      height: 32px;
      z-index: 1000; /* Ensure it appears on top if necessary */
  }
  
  
  .navpro__burger, 
  .navpro__close {
    position: absolute;
    width: max-content;
    height: max-content;
    inset: 0;
    margin: auto;
    font-size: 1.25rem;
    cursor: pointer;
    transition: opacity .1s, transform .4s;
  }
  
  .navpro__close {
    opacity: 0;
  }
  
  /* navproigation for mobile devices */
  @media screen and (max-width: 1118px) {
    .navpro__menupro {
      position: absolute;
      left: 0;
      top: 2.5rem;
      width: 100%;
      height: calc(100vh - 3.5rem);
      overflow: auto;
      pointer-events: none;
      opacity: 0;
      transition: top .4s, opacity .3s;
    }
    .navpro__menupro::-webkit-scrollbar {
      width: 0;
    }
    .navpro__listpro {
      background-color: hsl(220, 24%, 12%);
      padding-top: 1rem;
    }
  }
  
  .navpro__link {
    color: #fff;
    background-color: hsl(220, 24%, 12%);
    font-weight: 600;
    padding: 1.25rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color .3s;
  }
  
  .navpro__link:hover {
    background-color: hsl(220, 24%, 15%);
  }
  
  /* Show menu */
  .show-menu {
    opacity: 1;
    top: 3.5rem;
    pointer-events: initial;
  }
  
  /* Show icon */
  .show-icon .navpro__burger {
    opacity: 0;
    transform: rotate(90deg);
  }
  .show-icon .navpro__close {
    opacity: 1;
    transform: rotate(90deg);
  }
  
  /*=============== DROPDOWN ===============*/
  .dropdown__itempro {
    cursor: pointer;
  }
  
  .dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform .4s;
  }
  
  .dropdown__linkpro, 
  .dropdown__sublink {
    padding: 1.25rem 1.25rem 1.25rem 2.5rem;
    color: #fff;
    background-color: hsl(220, 24%, 15%);
    display: flex;
    align-items: center;
    column-gap: .5rem;
    font-weight: 600;
    transition: background-color .3s;
  }
  
  .dropdown__linkpro i, 
  .dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
  }
  
  .dropdown__linkpro:hover, 
  .dropdown__sublink:hover {
    background-color: hsl(220, 24%, 12%);
  }
  
  .dropdown__menupro, 
  .dropdown__submenupro {
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease-out;
  }
  
  /* Show dropdown menu & submenu */
  .dropdown__itempro:hover .dropdown__menupro, 
  .dropdown__subitempro:hover > .dropdown__submenupro {
    max-height: 1000px;
    transition: max-height .4s ease-in;
  }
  
  /* Rotate dropdown icon */
  .dropdown__itempro:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  
  /*=============== DROPDOWN SUBMENU ===============*/
  .dropdown__add {
    margin-left: auto;
  }
  
  .dropdown__sublink {
    background-color: hsl(220, 20%, 18%);;
  }
  
  /*=============== BREAKPOINTS ===============*/
  /* For small devices */
  @media screen and (max-width: 340px) {
    .containerpro {
      margin-inline: 1rem;
    }
  
    .navpro__link {
      padding-inline: 1rem;
    }
  }
  
  /* For large devices */
  @media screen and (min-width: 1118px) {
    .containerpro {
      margin-inline: auto;
    }
  
    .navpro {
      height: calc(3.5rem + 2rem);
      display: flex;
      justify-content: space-between;
    }
    .navpro__togglepro {
      display: none;
    }
    .navpro__listpro {
      height: 100%;
      display: flex;
      column-gap: 3rem;
    }
    .navpro__link {
      height: 100%;
      padding: 0;
      justify-content: initial;
      column-gap: .25rem;
    }
    .navpro__link:hover {
      background-color: transparent;
    }
  
    .dropdown__itempro, 
    .dropdown__subitempro {
      position: relative;
    }
  
    .dropdown__menupro, 
    .dropdown__submenupro {
      max-height: initial;
      overflow: initial;
      position: absolute;
      left: 0;
      top: 6rem;
      opacity: 0;
      pointer-events: none;
      transition: opacity .3s, top .3s;
    }
  
    .dropdown__linkpro, 
    .dropdown__sublink {
      padding-inline: 1rem 3.5rem;
    }
  
    .dropdown__subitempro .dropdown__linkpro {
      padding-inline: 1rem;
    }
  
    .dropdown__submenupro {
      position: absolute;
      left: 100%;
      top: .5rem;
    }
  
    /* Show dropdown menu */
    .dropdown__itempro:hover .dropdown__menupro {
      opacity: 1;
      top: 5.5rem;
      pointer-events: initial;
      transition: top .3s;
    }
  
    /* Show dropdown submenu */
    .dropdown__subitempro:hover > .dropdown__submenupro {
      opacity: 1;
      top: 0;
      pointer-events: initial;
      transition: top .3s;
    }
  }
  